*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.navbar{
	position: fixed;
	height: 70px;
	width: 100%;
	z-index: 1;
	background-color: dodgerblue;
}

.heart-img{
	position: fixed;
	padding: 25px;
	animation: 1s infinite heartbeat;
	z-index: 1;
}

.sec{
	height: 100vh;
	background-color: #F8F8FF;
}

.head{
	font-size: 40px;
	padding: 100px 0px 40px 0px;
	text-align: center;
}

.home-text{
	font-size: 33px;
	padding: 50px 100px;
}


.info-sub-con{
	padding: 70px 100px;
	display: flex;
}

.info-text{
	font-size: 33px;
	padding: 50px 100px;
}

ul{
	display: flex;
	list-style: none;
	justify-content: flex-end;
	align-items: center;
}

li{
	padding: 20px 40px 20px 0px;
	font-size: 30px;
}

a{
	text-decoration: none;
	color: white;
}

button{
	border-radius: 20px;
}

.choose-btn{
	padding: 20px;
	background-color: green;
	height: 40px;
	width: 100px;
	outline: none;
	border: none;
	color: white;
	text-align: center;
	padding: 10px;
}

.predict-btn{
	padding: 20px;
	background-color: dodgerblue;
	height: 40px;
	width: 100px;
	outline: none;
	border: none;
	color: white;
	text-align: center;
	padding: 10px;
}

.btn-text{
	font-size: 20px;
}

.box{
	height: 300px;
	width: 300px;
	margin: 20px;
	background-color: #F5F5F5;
	border-radius: 10px;
}

@keyframes heartbeat {
	0% {
		transform: scale(1.0);
	}

	25%{
		transform: scale(1.2);
	}
	40%{
		transform: scale(1.0);
	} 
	60%{
		transform: scale(1.2);
	} 

	100%{
		transform: scale(1.0);
	}
}